<!DOCTYPE html>
<html>
  <head>
    <title><%=  getTitle(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<font color = "white">
	  	<header class="navbar navbar-fixed-top navbar-inverse">
	  		<div class = "container">
			 	<nav>
			 		<ul class = "nav navbar-nav navbar-left">
					 	<li> <%= link_to "User list", '/' %> </li>
					 	<li> <%= link_to "Home", '/static_pages/home' %> </li>
					 	<li> <%= link_to "Help", '/static_pages/help' %> </li>
			 		</ul>
			 	</nav>
			</div>
		</header>
	</font>
	<center>
		<h1> <%= tempHeader(yield(:special)) %> </h1>
		<h3> <%= someMethod %> </h3>
		<%= specialHeader(content_for?(:special)) %>
	</center>
	<div class = "container">
		<%= yield %>
		<%= render 'layouts/footer' %>
	</div>
  </body>
</html>