<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | My rails webapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 	<% tempString = "This is a temporary header and filled with: " %>
 	<% if content_for?(:special) %>
 		<h1> <%= tempString + yield(:special) %> </h1>
 	<% else %>
 		<h1> <%= tempString + "NOTHING" %> </h1>
 	<% end %>
 	<center>
 		<h3> <%= someMethod %> </h3>
 		<%= specialHeader(content_for?(:special)) %>
 	</center>
    <%= yield %>
  </body>
</html>
